@media (max-width: 1601px) {
    .textBigger {
        font-size: 1.5em;
    }
    .textLarge {
        font-size: 2em;
    }
}

@media (max-width: 1440px) {
    .marginScreen {
        padding-right: 3%;
        padding-left: 3%;
    }

    .textLarge {
        font-size: 1.9em;
    }
}

@media (max-width: 1000px) { 
    .marginMobile {
        margin-top: 55%;
    }
    #background {
        background-image: url('../assets/mobile.webp');
    }
}

@media (max-width: 600px) { 
    .marginMobile {
        margin-top: 52%;
    }

    #background {
        background-image: url('../assets/mobile.webp');
    }
    
    .textLarge {
        font-size: 1.3em;
    }

    .input {
        font-size: 1em;
    }

    .btn-participar {
        font-size: 0.9em;
    }
}