* {
    font-family: montserrat, sans-serif;
    color: white;
    overflow-x: hidden;
    line-height: 1.2em;
}

#background {
    height: 100vh !important;
    background-image: url('../assets/desktop.webp');
    background-position: top 0px center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 50%;
}

.btn-participar {
    background-color: #06c227;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    width: 100%;
    height: 45px;
}

.btn-participar:hover {
    color: white;
}

.calendar {
    width: 80%;
}

.input {
    font-size: 1.2em;
    height: 45px;
    border-radius: 8px 8px 8px 8px;
}