/*! CSS Used from: ../css/fonts.css */
.font-weight-bolder{font-weight:700!important;}
.text-red{color:#CC062C;}
.textLarge{font-size:2.4em;}
.textBigger{font-size:1.8em;}
/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-3{flex:0 0 auto;width:25%;}
.col-6{flex:0 0 auto;width:50%;}
@media (min-width:768px){
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-6{flex:0 0 auto;width:50%;}
}
@media (min-width:1400px){
.col-xxl-2{flex:0 0 auto;width:16.66666667%;}
.col-xxl-4{flex:0 0 auto;width:33.33333333%;}
.col-xxl-6{flex:0 0 auto;width:50%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.d-flex{display:flex!important;}
.d-none{display:none!important;}
.flex-column{flex-direction:column!important;}
.justify-content-center{justify-content:center!important;}
.align-items-center{align-items:center!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.text-center{text-align:center!important;}
@media (min-width:768px){
.d-md-block{display:block!important;}
.d-md-none{display:none!important;}
}
/*! CSS Used from: ../css/style.css */
*{font-family:montserrat, sans-serif;color:white;overflow-x:hidden;line-height:1.2em;}
#background{height:100vh!important;background-image:url('../assets/desktop.webp');background-position:top 0px center;background-repeat:no-repeat;background-size:cover;}
.logo{width:50%;}
.btn-participar{background-color:#06c227;font-size:1.2em;font-weight:700;color:white;width:100%;height:45px;}
.btn-participar:hover{color:white;}
.calendar{width:80%;}
.input{font-size:1.2em;height:45px;border-radius:8px 8px 8px 8px;}
/*! CSS Used from: ../css/responsividade.css */
@media (max-width: 1601px){
.textBigger{font-size:1.5em;}
.textLarge{font-size:2em;}
}
@media (max-width: 1440px){
.marginScreen{padding-right:3%;padding-left:3%;}
.textLarge{font-size:1.9em;}
}
@media (max-width: 1000px){
.marginMobile{margin-top:55%;}
#background{background-image:url('../assets/mobile.webp');}
}
@media (max-width: 600px){
.marginMobile{margin-top:52%;}
#background{background-image:url('../assets/mobile.webp');}
.textLarge{font-size:1.3em;}
.input{font-size:1em;}
.btn-participar{font-size:0.9em;}
}
/*! CSS Used fontfaces */
@font-face{font-family:montserrat;src:url('../fonts/Montserrat/Montserrat-Thin.woff2');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/Montserrat/Montserrat-Light.woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/Montserrat/Montserrat-Regular.woff2');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/Montserrat/Montserrat-Bold.woff2');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/Montserrat/Montserrat-ExtraBold.woff2');font-weight:700;font-style:normal;font-display:swap;}